Repository stavrevdev/pacely: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint, nx format:write, stylelint '**/*.css'

.lintstagedrc:

{
  "{apps,libs,tools}/**/*.{js,ts,jsx,tsx,json}": [
    "nx affected:lint",
    "nx format:write"
  ],
  "{apps,libs,tools}/**/*.css": [
    "stylelint '**/*.css'",
    "nx format:write"
  ]
}

chore(package.json): add start script
  package.json
Due: none

chore: convert commitlint config to json
  .commitlintrc
  commitlint.config.js
Due: none

chore: clean up placeholder content
  .lintstagedrc
  apps/pacely/src/app/app.html
  apps/pacely/src/app/app.ts
  apps/pacely/src/app/nx-welcome.ts
  apps/pacely/src/index.html
  lint-staged.config.js
Due: nx affected:lint, nx format:write

chore: initiate storybook
  apps/pacely/.storybook/main.ts
  apps/pacely/.storybook/preview.ts
  apps/pacely/.storybook/tsconfig.json
  apps/pacely/project.json
  apps/pacely/tsconfig.app.json
  apps/pacely/tsconfig.json
  nx.json
  package-lock.json
  package.json
Due: nx affected:lint, nx format:write

feat: add and configure primeng ui library
  apps/pacely/src/app/app.config.ts
  apps/pacely/src/styles.css
  lint-staged.config.js
  package-lock.json
  package.json
  yarn.lock
Due: nx affected:lint, nx format:write, stylelint '**/*.css'

feat(layout/navigation): add navigation bar
  apps/pacely/src/app/app.config.ts
  apps/pacely/src/app/app.css
  apps/pacely/src/app/app.html
  apps/pacely/src/app/app.spec.ts
  apps/pacely/src/app/app.ts
  apps/pacely/src/app/layout/logo/logo.html
  apps/pacely/src/app/layout/logo/logo.ts
  apps/pacely/src/app/layout/navigation/navigation-item/navigation-item.html
  apps/pacely/src/app/layout/navigation/navigation-item/navigation-item.ts
  apps/pacely/src/app/layout/navigation/navigation.html
  apps/pacely/src/app/layout/navigation/navigation.ts
  apps/pacely/src/app/themes.ts
Due: nx affected:lint, nx format:write, stylelint '**/*.css'

feat(tasks): implement tasks sidebar ui
  apps/pacely/src/app/app.html
  apps/pacely/src/app/app.routes.ts
  apps/pacely/src/app/layout/navigation/navigation.html
  apps/pacely/src/app/tasks/tasks-sidebar/tasks-sidebar.html
  apps/pacely/src/app/tasks/tasks-sidebar/tasks-sidebar.ts
  apps/pacely/src/app/tasks/tasks.html
  apps/pacely/src/app/tasks/tasks.ts
  package.json
  yarn.lock
Due: nx affected:lint, nx format:write

feat: implement simple tasks view
  apps/pacely/src/app/app.routes.ts
  apps/pacely/src/app/tasks/create-field/create-field.html
  apps/pacely/src/app/tasks/create-field/create-field.ts
  apps/pacely/src/app/tasks/list/list.html
  apps/pacely/src/app/tasks/list/list.ts
  apps/pacely/src/app/tasks/sidebar/sidebar.html
  apps/pacely/src/app/tasks/sidebar/sidebar.ts
  apps/pacely/src/app/tasks/tasks.html
  apps/pacely/src/app/tasks/tasks.routes.ts
  apps/pacely/src/app/tasks/tasks.ts
  apps/pacely/src/app/tasks/view-selector/view-selector.html
  apps/pacely/src/app/tasks/view-selector/view-selector.ts
Due: nx affected:lint, nx format:write

feat: update design
  apps/pacely/src/app/app.html
  apps/pacely/src/app/layout/navigation/navigation.html
  apps/pacely/src/app/tasks/sidebar/sidebar.html
  apps/pacely/src/app/tasks/tasks.html
Due: none
